[submodule "packages/core"]
	path = packages/core
	url = https://github.com/PhearNet/core.git
[submodule "packages/scanner"]
	path = packages/scanner
	url = https://github.com/PhearNet/scanner.git
[submodule "packages/app"]
	path = packages/app
	url = https://github.com/PhearNet/phearnet.github.io.git
[submodule "packages/engine"]
	path = packages/engine
	url = https://github.com/PhearNet/engine.git
[submodule "packages/reports"]
	path = packages/reports
	url = https://github.com/PhearNet/reports.git
[submodule "packages/couch"]
	path = packages/couch
	url = https://github.com/PhearNet/couch.git
